<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8" name="viewport" content="width=device-width">
      <title>Home</title>
      <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body style="background-color: #fff5da;">
      <!-- Header-->
      <header>
          <!-- Nav Bar -->
          <nav>
              <!-- SMALL SCREENS ONLY -->
              <div class="md:hidden flex px-3 py-3 justify-between items-center">
                  <!-- Logo-->
                  <a href="{{url_for('index')}}">
                      <img src="{{ url_for('static', filename='images/PrepifyLogo2.svg') }}" alt="Prepify Logo"
                          class="w-20 h-auto">
                  </a>
                  <!-- Links -->
                  <details class="text-right relative z-50">
                      <summary class="list-none"><span>Menu</span></summary>
                      <ul class="flex flex-col bg-[#233723] gap-4 px-4 py-1 text-white absolute right-0">
                          <li><a href="{{ url_for('login') }}">Login</a></li>
                          <li><a href="{{ url_for('get_started') }}">Get Started</a></li>
                          <li><a href="{{ url_for('shopping_list') }}">Sopping List</a></li>
                          <li><a href="{{ url_for('calendar') }}">Calendar</a></li>
                      </ul>
                  </details>
              </div>
              <!-- LARGE SCREENS ONLY -->
              <div class="hidden md:flex px-8 py-3 justify-between items-center">
                  <!-- Logo-->
                  <a href="{{url_for('index')}}">
                      <img src="{{ url_for('static', filename='images/PrepifyLogo2.svg') }}" alt="Prepify Logo"
                          class="w-[7vw] h-auto">
                  </a>
                  <!-- Links -->
                  <ul class="flex gap-4 text-lg 2xl:text-[1vw] 2xl:gap-[4vw] font-medium">
                      <li><a href="{{ url_for('get_started') }}">Get Started</a></li>
                      <li><a href="{{ url_for('shopping_list') }}">Shopping List</a></li>
                      <li><a href="{{ url_for('calendar') }}">Calendar</a></li>
                  </ul>
                  <!-- Login -->
                  <div class="flex gap-4 text-lg 2xl:text-[1vw] font-medium">
                      <a href="{{ url_for('signup') }}">Sign Up</a>
                      <a href="{{ url_for('login') }}">Login</a>
                  </div>
              </div>
          </nav>
      </header>
      <!-- Section 1 -->
      <section class="h-[40vh] md:h-[60vw] 2xl:h-[40vw]">
          <div class="flex flex-col w-full h-full items-center justify-center text-center gap-8 2xl:gap-[8vw]">
              <h1 class="lg:hidden text-6xl md:text-[10vw] text-[#233723] font-black">Simple<br>Meal<br>Planning</h1>
              <h1 class="hidden lg:block text-6xl md:text-[10vw] 2xl:text-[9vw] text-[#233723] font-black">Simple<br>Meal Planning</h1>
              <a href="{{ url_for('get_started') }}"
              class="bg-[#68814c] md:text-[2vw] text-white font-semibold py-3 px-8
              rounded-full shadow-lg hover:bg-blue-600 transition duration-300">Get Started</a>
          </div>
      </section>
      <!-- Section 2 -->
      <section class="bg-[#233723] md:h-[50vw]">
          <div class="flex flex-col w-full h-full px-8 py-6 md:px-16 md:py-12 items-center justify-center text-center gap-4 md:gap-[6vw] text-white">
              <h1 class="text-3xl md:text-[5vw] font-medium">What is Prepify?</h1>
                  <div class="flex flex-col md:flex-row lg:gap-2">
                      <div class='flex flex-col gap-4 md:gap-[3vw]'>
                          <h2 class="text-2xl md:text-[3vw] font-medium">Simplify</h2>
                              <p class="text-lg md:text-[2vw] leading-normal">Prepify simplifies weekly food prep by generating recipes and a complete grocery list automatically.</p>
                      </div>
                      <div class='flex flex-col gap-4 md:gap-[3vw]'>
                          <h2 class="text-2xl md:text-[3vw] font-medium">Customize</h2>
                              <p class="text-lg md:text-[2vw] leading-normal">A smart meal-planning platform that creates personalized recipes based on your dietary and wellness goals.</p>
                      </div>
                      <div class='flex flex-col gap-4 md:gap-[3vw]'>
                          <h2 class="text-2xl md:text-[3vw] font-medium">Save</h2>
                              <p class="text-lg md:text-[2vw] leading-normal">Built-in budgeting tools that help users save money while grocery shopping for healthy ingredients.</p>
                      </div>
                  </div>
          </div>
      </section>
      <!-- Footer -->
      <footer class="bg-[#0E0E0E]">
          <div class="flex justify-between items-center px-8 py-4 text-white text-xs md:text-sm">
              <ul class="flex flex-col gap-1">
                  <li>Contact Support</li>
                  <li>(702) 555-1234</li>
                  <li>support@prepify.com</li>
              </ul>
              <span class="text-center">
                  <p>&copy; 2025 Prepify.<br>All rights reserved.</p>
              </span>
          </div>
      </footer>
  </body>
</html>
