<!DOCTYPE html>
<html class="h-full bg-white">
<head>
    <title>Signup</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <button onclick="history.back()" class="relative inline-flex items-center justify-center p-0.5 mt-1 mx-1 mb-2 me-2 overflow-hidden text-sm font-medium text-black rounded-lg">
    <span class="px-4 py-2 bg-white text-black border border-black shadow-[2px_2px_0px_0px_black] rounded-lg hover:bg-gray-100 transition">
        ↩ Back
    </span>
</button>
  
    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
      <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Prepify Logo" class="mx-auto"/>
      </div>
  
      <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm border shadow-lg rounded-xl p-6 transform transition-transform duration-300 hover:-translate-y-2">
        <form action="#" method="POST" class="space-y-6">
          <h2 class="text-center text-2xl font-bold text-black">Create your account</h2>
  
          <div>
            <label for="username" class="block text-sm font-medium text-black">Username</label>
            <input id="username" type="text" name="username" required class="block w-full rounded-md bg-black/5 px-3 py-1.5 text-white placeholder-gray-500 focus:outline-2 focus:outline-indigo-500"/>
          </div>
  
          <div>
            <label for="email" class="block text-sm font-medium text-black">Email address</label>
            <input id="email" type="email" name="email" required class="block w-full rounded-md bg-black/5 px-3 py-1.5 text-white placeholder-gray-500 focus:outline-2 focus:outline-indigo-500"/>
          </div>
  
          <div>
            <label for="password" class="block text-sm font-medium text-black">Password</label>
            <input id="password" type="password" name="password" required class="block w-full rounded-md bg-black/5 px-3 py-1.5 text-white placeholder-gray-500 focus:outline-2 focus:outline-indigo-500"/>
          </div>
  
          <div>
            <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-500 px-3 py-1.5 text-white hover:bg-indigo-400">Sign Up</button>
          </div>
        </form>

        <p class="mt-10 text-center text-sm leading-6 text-gray-400">
          Already a member?
          <a href="#" class="font-semibold text-indigo-400 hover:text-indigo-300">Login</a>
        </p>
      </div>
    </div>
  </body>
  
</html>